<footer>
    <p>Are you a tech expert and interested in making your opinions reach millions of people worldwide then <strong><a href="/user-info">Click to join our team</a></strong></p>
    <p><a href="/login">Login as admin</a></p>
    <h4>Get in Touch</h4>
    <p></p><a href=""><i class="icons fa fa-phone"></i> +234 8093562684</a></p>
    <p><a href=""><i class="icons fa fa-envelope"></i> aifblog@gmail.com</a></p>
    <p>&#169; Copyright AIF 2024</p>
    <!-- <form action="/user-info" method="POST">
        <label for="firstname">Firstname</label>
        <input type="text" name="firstname" required>
        <label for="lastname">Lastname</label>
        <input type="text" name="lastname" required>
        <label for="email">Email</label>
        <input type="email" name="email" required>
        <label for="occupation">Occupation</label>
        <input type="text" name="occupation" required>
        <label for="experience">How many years of experience do you have of working in the tech industry?</label><br>
        <input type="number" name="experience" required min="0">
        <button>Submit</button>
    </form> -->
</footer>