<header>
    <h1><a href="/home">AIF Blog</a></h1>
</header>
<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/technology">Technology</a></li>
        <li><a href="/business">Business</a></li>
        <li><a href="/health">Health</a></li>
        <li><a href="/politics">Politics</a></li>
        <li><a href="/posts">Our Posts</a></li>
        <!-- <li><a href="/contact">Contact</a></li> -->
    </ul>
</nav>