<!DOCTYPE html>
<html lang="en">
<%- include('./components/head.ejs') %>
<body>
    <%- include('./components/nav.ejs') %>
    
    <h1 class="alert">404 ERROR</h1>
    <p><strong>The Page You're Looking For Could Not Be Found :(</strong></p>
    <a href="/home">Click to go home</a>

    <%- include('./components/footer.ejs') %>
</body>
</html>